@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* tag class */
    /* tag-배경색 */
    /* 폰트 컬러를 바꾸고 싶다면 vue 파일에서 class 적용할 때 !(important) 사용 */
    /* ex ) <span class="tag-gray !text-primary-500">Primary</span> */
    .tag-gray {
        @apply px-2 py-1 text-gray-400 bg-gray-100 rounded-full text-caption;
    }

    .tag-primary {
        @apply px-2 py-1 text-white rounded-full bg-primary-500 text-caption;
    }

    .button-line {
        @apply inline-flex items-center justify-center bg-white text-black text-body rounded;
        @apply px-3 py-1 border border-gray-200;
    }

    .button-primary {
        @apply inline-flex items-center justify-center bg-primary-500 text-white text-body rounded;
        @apply px-3 py-1;
    }

    .button-gray {
        @apply inline-flex items-center justify-center bg-gray-100 text-black text-body rounded;
        @apply px-3 py-1 border border-gray-200;
    }

    .header-button {
        @apply inline-flex items-center justify-center bg-white text-black text-body rounded-lg;
        @apply h-11 w-44 px-4 py-2 mr-6 border border-gray-200 hover:bg-gray-100;
    }

    .custom-scrollbar {
        scrollbar-gutter: stable; /* 스크롤바가 컨텐츠를 가리지 않도록 여백 확보 */
        scrollbar-width: thin; /* 파이어폭스: 얇은 스크롤바 */
        scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
}
