@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-h1 {
      font-size: 28px;
      line-height: auto; /* 브라우저 기본 줄 간격 */
    }
  
    .text-h2 {
      font-size: 24px;
      line-height: auto;
    }
  
    .text-h3 {
      font-size: 18px;
      line-height: auto;
    }
  
    .text-body {
      font-size: 14px;
      line-height: auto;
    }
  
    .text-body-bold {
      font-size: 14px;
      line-height: auto;
      font-weight: bold;
    }
  
    .text-caption {
      font-size: 12px;
      line-height: auto;
    }
  
    .text-caption-sm {
      font-size: 8px;
      line-height: auto;
    }
  }